# Created by .ignore support plugin (hsz.mobi)
/.idea/
.idea/composerJson.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/workspace.xml
out/
